@model AppPruebaMVC.Data.Models.Persona

@{
    ViewData["Title"] = "Baja";
}

<div class="row">
    <div class="col-md-4">
        <form id="formBajaPersona">
            <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="ApellidoMaterno" type="hidden"/>
                <input asp-for="ApellidoPaterno" type="hidden"/>
                <input asp-for="NumeroCelular" type="hidden"/>
                <input asp-for="Cedula" type="hidden"/>
                <input asp-for="Direccion" type="hidden"/>
                <input asp-for="Estado" type="hidden" value="false"/> 
                <input asp-for="EstadoCivil" type="hidden"/>
                <input asp-for="FechaNacimiento" type="hidden"/>
                <input asp-for="Sexo" type="hidden"/> 
                <input asp-for="NumeroTelefono" type="hidden"/>
                <input asp-for="Nombre" type="hidden"/>
                <input asp-for="Codigo" type="hidden" />
        </form>
    </div>
</div>
