@model AppPruebaMVC.Data.Models.Persona

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Persona</h1>

<h4>Editar</h4>

    <div class="row">
    <div class="col l12">
        <hr/>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <input asp-for="Codigo" type="hidden"/>
            <div class="input-field col l6">
                <label asp-for="Cedula">Num. Cedula</label>
                <input asp-for="Cedula" class="validate" />
                <span asp-validation-for="Cedula" class="red-text"></span>
            </div>
            <div class="input-field col l6">
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre" class="validate" />
                <span asp-validation-for="Nombre" class="red-text"></span>
            </div>
            <div class="input-field col l6">
                <label asp-for="ApellidoPaterno" >Apellido Paterno</label>
                <input asp-for="ApellidoPaterno" class="validate" />
                <span asp-validation-for="ApellidoPaterno" class="red-text"></span>
            </div>
            <div class="input-field col l6">
                <label asp-for="ApellidoMaterno">Apellido Materno</label>
                <input asp-for="ApellidoMaterno" class="validate" />
                <span asp-validation-for="ApellidoMaterno" class="red-text"></span>
            </div>
            <div class="input-field col l6">
                <label asp-for="FechaNacimiento">Fecha de Nacimiento</label>
                <input type="text" asp-for="FechaNacimiento" class="validate datepicker" />
                <span asp-validation-for="FechaNacimiento" class="red-text"></span>
            </div>
            <div class="input-field col l6">
                 <select asp-for="EstadoCivil">
                    <option value="" disabled selected>Estado Civil</option>
                    <option value="SOLTERO/A">SOLTERO/A</option>
                    <option value="CASADO/A">CASADO/A</option>
                    <option value="VIUDO/A">VIUDO/A</option>
                    <option value="DIVORCIADO/A">DIVORCIADO/A</option>
                </select>
                <label asp-for="EstadoCivil">Estado Civil</label>
            </div>
            <div class="input-field col l6">
                 <fieldset>
                            <legend>Sexo</legend>
                            <label>
                        <input type="radio" asp-for="Sexo" value="true" class="with-gap" /> 
                    <span>Masculino</span>
                    </label>
                    <label>
                        <input type="radio" asp-for="Sexo" value="false" class="with-gap" /> 
                    <span>Femenino</span>
                    </label>
                        </fieldset>
            </div>
            <div class="input-field col l6">
                <label asp-for="NumeroCelular">Num. Celular</label>
                <input asp-for="NumeroCelular" class="validate" />
                <span asp-validation-for="NumeroCelular" class="red-text"></span>
            </div>
            <div class="input-field col l6">
                <label asp-for="NumeroTelefono">Num. Telefono</label>
                <input asp-for="NumeroTelefono" class="validate" />
                <span asp-validation-for="NumeroTelefono" class="red-text"></span>
            </div>
            <div class="input-field col l12">
                <label asp-for="Direccion"></label>
                <textarea asp-for="Direccion" class="validate materialize-textarea"></textarea>
                <span asp-validation-for="Direccion" class="red-text"></span>
            </div>
            
                <input asp-for="Estado" type="hidden" value="true"/>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn blue" />
                <a asp-action="Index" class="btn red">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</div>
<hr />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                i18n: {
                    months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Agos', 'Sept', 'Oct', 'Nov', 'Dic'],
                    weekdays: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vier', 'Sab'],
                    weekdaysAbbrev: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                },
                autoClose: true
            });
        });
    </script>
}