@model AppPruebaMVC.Data.Models.CitaMedica

@{
    ViewData["Title"] = "Cita Medica";
}

<div class="container">
    <h4>Agregar</h4>
    <hr />
    <div class="row">
        <div class="col l6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="red-text"></div>
                <input type="hidden" asp-for="Estado" value="true"/>
                <div class="input-field">
                    <label asp-for="FechaHora" class="active"></label>
                    <input asp-for="FechaHora" class="validate" />
                    <span asp-validation-for="FechaHora" class="red-text"></span>
                </div>
                <div class="input-field">
                
                    <select asp-for="CodUsuario" class ="validate" asp-items="ViewBag.CodUsuario"></select>
                    <label asp-for="CodUsuario" ></label>            
                </div>
                <div class="input-field">
                    <select asp-for="CodDoctor" class ="validate" asp-items="ViewBag.CodDoctor"></select>
                    <label asp-for="CodDoctor" ></label>
                
                </div>
                <div class="input-field">
                    <select asp-for="CodPaciente" class ="validate" asp-items="ViewBag.CodPaciente"></select>
                    <label asp-for="CodPaciente" ></label>
                
                </div>
                <div class="right-align">
                    <button type="submit" class="btn blue"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                    <a asp-action="Index" class="btn red"><i class="fa-solid fa-ban"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>

</div>

