@model AppPruebaMVC.Data.Models.Usuario

@{
    ViewData["Title"] = "Baja";
}

    <form id="formBajaUsuario">
        <input type="hidden" asp-for="Codigo" />
        <input type="hidden" asp-for="Usuario1" />
        <input type="hidden" asp-for="Correo" />
        <input type="hidden" asp-for="Contrasena" />
        <input type="hidden" asp-for="CodPersona" />
        <input type="hidden" asp-for="Estado" />
    </form>

