@model AppPruebaMVC.Data.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Usuario</h1>

<h4>Agregar</h4>
<hr />
<div class="row">
    <div class="col l8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <div class="input-field col l12">
                
                <select asp-for="CodPersona" asp-items="ViewBag.CodPersona"></select>
                <label asp-for="CodPersona">Persona</label>
            </div>
            <div class="input-field col l12">
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Autocomplete</label>
            </div>
            <div class="input-field col l12">
                <label asp-for="Usuario1">Usuario</label>
                <input asp-for="Usuario1"/>
                <span asp-validation-for="Usuario1" class="red-text"></span>
            </div>
            <div class="input-field col l12">
                <label asp-for="Contrasena"></label>
                <input type="password" asp-for="Contrasena" class="validate" />
                <span asp-validation-for="Contrasena" class="red-text"></span>
            </div>
            <div class="input-field col l12">
                <label asp-for="Correo"></label>
                <input asp-for="Correo" class="validate" />
                <span asp-validation-for="Correo" class="red-text"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn blue" />
                <a asp-action="Index" class="btn red">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
    $('#input.autocomplete').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("BusquedaPersona","Home")?busqueda=" + request.term,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response(data)
                },
            })
        }
        /*data: {
            "Apple": null,
            "Microsoft": null,
            "Google": 'https://placehold.it/250x250'
        },*/
    });
});
    </script>
    
    <!--<script src="~/js/Usuario.js"></script>-->
}
    


