@model AppPruebaMVC.Data.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div class="container">
<h1>Usuarios</h1>

<h4>Agregar</h4>
<hr />
<div class="row">
    <div class="col l12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <div class="input-field col l6">
                <label asp-for="Cargo"></label>
                <input asp-for="Cargo" class="validate" />
                <span asp-validation-for="Cargo" class="red-text"></span>
            </div>
            <div class="input-field col l6">
                <label asp-for="Contrasena"></label>
                <input type="password" asp-for="Contrasena" class="validate" />
                <span asp-validation-for="Contrasena" class="red-text"></span>
            </div>
            <div class="input-field col l6">
                <label asp-for="Correo"></label>
                <input asp-for="Correo" class="validate" />
                <span asp-validation-for="Correo" class="red-text"></span>
            </div>
            <div class="input-field col l6">
                <label asp-for="Especialidad"></label>
                <input asp-for="Especialidad" class="validate" />
                <span asp-validation-for="Especialidad" class="red-text"></span>
            </div>
            <div class="range-field col l6">
                <label asp-for="TipoUsuario">Tipo de Usuario</label>
                <select asp-for="TipoUsuario" class ="validate" asp-items="ViewBag.TipoUsuario"></select>
            </div>
            <div class="range-field col l6">
                <label asp-for="Codigo">Persona</label>
                <select asp-for="Codigo" class ="validate" asp-items="ViewBag.Codigo"></select>
            </div>
            <div class="form-group col l6">
                <input type="submit" value="Guardar" class="btn blue" />
                <a class="btn red" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
