@model AppPruebaMVC.Data.Models.Usuario

@{
    ViewData["Title"] = "Usuario";
}

<div class="container">

<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col l8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <input type="hidden" asp-for="CodPersona" id="txt_codPersona"/>
            <input type="hidden" asp-for="Codigo" id="txt_codUsuario"/>
            <div class="input-field col l12">
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input" id="lbl_persona">Persona</label>
            </div>
            <div class="input-field col l12">
                <label asp-for="Usuario1">Usuario</label>
                <input asp-for="Usuario1"/>
                <span asp-validation-for="Usuario1" class="red-text"></span>
            </div>
            <div class="input-field col l12">
                <label asp-for="Contrasena"></label>
                <input type="password" asp-for="Contrasena" class="validate" />
                <span asp-validation-for="Contrasena" class="red-text"></span>
            </div>
            <div class="input-field col l12">
                <label asp-for="Correo"></label>
                <input asp-for="Correo" class="validate" />
                <span asp-validation-for="Correo" class="red-text"></span>
            </div>
            
            <div class="right-align col l12">
                <button type="submit" class="btn blue"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                <a asp-action="Index" class="btn red"><i class="fa-solid fa-ban"></i> Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#lbl_persona').addClass('active');

            ListaPersonas();
            var codPersona = $('#txt_codPersona').val();
            console.log(codPersona);

           function ListaPersonas() { 
           console.log("Lista Personas");
            $.ajax({
                type: 'GET',
                url: '/Home/BusquedaPersona?busqueda=%'
            })
                .done(function(responce) {
                    console.log(responce);
                    var listPersonas = {};
                    responce.forEach(persona => {
                        listPersonas[persona.label] = {
                            id: persona.value,
                            text: persona.label,
                            img: null
                        };
                        if(listPersonas[persona.label].id == codPersona){
                            $('#autocomplete-input').val(persona.label);
                        }
                    })

                    $('input.autocomplete').autocomplete({
                        data: listPersonas,
                        limit: 3,
                        onAutocomplete: function(data) {
                            console.log(listPersonas[data].id);
                            $('#txt_codPersona').val(listPersonas[data].id);
                        }
                    })
                    console.log(listPersonas);
                })
                .fail(function() {
                    var toastHTML = '<span>Error al dar de Baja Persona</span><button class="btn-flat toast-action">Undo</button>';
                    console.error("error al listar persona");
                });
        }

    
});
    </script>
    
}