@model AppPruebaMVC.Data.Models.TipoUsuario

 <div class="container">
    <h1>Tipo de Usuario</h1>

    <h4>Agregar</h4>
    
    <div class="row">
    <div class="col s8">
        <hr />
        <form asp-action="Create" class="col s12">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <div class="input-field col s12">
                <label asp-for="Cargo"></label>
                <input asp-for="Cargo" class="validate"/>
                <span asp-validation-for="Cargo" class="red-text"></span>
            </div>
            <div class="input-field col s12">
                <label asp-for="Codigo" ></label>
                <input asp-for="Codigo" class="validate" />
                <span asp-validation-for="Codigo" class="red-text"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn blue" />
                <a asp-action="Index" class="btn red">Cancelar</a>
            </div>
            <div>
    
</div>
        </form>
    </div>
</div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
