@model AppPruebaMVC.Data.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="container">
    <div class="row">
  <div class="col s8">
    <div class="card">

      <div class="card-action teal lighten-1 white-text">
        <h3>Ingresar al Sistema</h3>
      </div>

      <div class="card-content">
          <form asp-controller="Login" asp-action="Acceso" method="post">
              <div class="input-field">
         <label asp-for="Correo"></label>
                <input asp-for="Correo" class="validate"/>
                <span asp-validation-for="Correo" class="red-text"></span>
        </div><br>

        <div class="input-field">
         <label asp-for="Contrasena"></label>
                <input type="password" asp-for="Contrasena" class="validate"/>
                <span asp-validation-for="Contrasena" class="red-text"></span>
        </div><br>
        <div class="form-field">
          <button type="button" id="btn_enviar" class="btn-large waves-effect waves-dark" value="Acceso" style="width:100%;">Ingresar</button>
        </div><br>
          </form>
        
      </div>
    </div>
  </div>
</div>

</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
document.getElementById('btn_enviar').addEventListener('click', () => {
    console.log("hola mundo");
        });
</script>
}

</body>
</html>
