@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppPruebaMVC</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
     <link rel="stylesheet" href="~/AppPruebaMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!--<nav class="blue darken-1"> <!-- navbar content here  </nav>-->

  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
      <div class="background">
        <img class="responsive-img" src="~/image/hospitalFondo.jpg">
      </div>
      <a href="#user"><img class="circle" src="~/image/doctor.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text name"></span></a>
    </div></li>
    <li><a asp-area="" asp-controller="Personas" asp-action="Index"><i class="material-icons">person</i>Persona</a></li>
    <li><a asp-area="" asp-controller="Usuarios" asp-action="Index"><i class="material-icons">people</i>Usuarios</a></li>
    <li><a asp-area="" asp-controller="TipoUsuarios" asp-action="Index"><i class="material-icons">cloud</i>Tipo  Usuarios</a></li>
    <li><a asp-area="" asp-controller="Citums" asp-action="Index"><i class="material-icons">cloud</i>Cita Medica</a></li>
    <li><a asp-area="" asp-controller="RecetaMedicas" asp-action="Index"><i class="material-icons">cloud</i>Receta Medica</a></li>
    <li><a asp-area="" asp-controller="Resultadoes" asp-action="Index"><i class="material-icons">cloud</i>Resultados</a></li>
    <li><a asp-area="" asp-controller="Triajes" asp-action="Index"><i class="material-icons">cloud</i>Triaje</a></li>
    <li><a asp-area="" asp-controller="Diagnosticoes" asp-action="Index"><i class="material-icons">cloud</i>Diagnostico</a></li>
    <li><a asp-area="" asp-controller="DetalleDiagnosticoes" asp-action="Index"><i class="material-icons">cloud</i>Detalle Diagnostico</a></li>
    
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a asp-controller="Login" asp-action="Salir" class="waves-effect">Salir</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
    </header>
     <main>
            @RenderBody()
        </main>

    <!--<footer class="page-footer footer blue">
        <div class="container">
            &copy; 2022 - AppPruebaMVC
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
       $(document).ready(function(){
     M.AutoInit();
  });
    </script>
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                i18n: {
                    months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Agos', 'Sept', 'Oct', 'Nov', 'Dic'],
                    weekdays: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vier', 'Sab'],
                    weekdaysAbbrev: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                },
                autoClose: true
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
