@model AppPruebaMVC.Data.Models.Medicamento

        <form id = "formBajaMedicamento">
            <input type="hidden" asp-for="Codigo" />
            <input type="hidden" asp-for="NombreMedicamento" />
            <input type="hidden" asp-for="Descripcion" />
            <input type="hidden" asp-for="Estado" value="false" />
        </form>

