@model AppPruebaMVC.Data.Models.Medicamento

@{
    ViewData["Title"] = "Medicamento";
}

<div class="container">

<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col l6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <input type="hidden" asp-for="Codigo"/>
            <div class="input-field">
                <label asp-for="NombreMedicamento" >Medicamento</label>
                <input asp-for="NombreMedicamento" class="validate" />
                <span asp-validation-for="NombreMedicamento" class="red-text"></span>
            </div>
            <div class="input-field">
                <label asp-for="Descripcion" ></label>
                <input asp-for="Descripcion" class="validate" />
                <span asp-validation-for="Descripcion" class="red-text"></span>
            </div>
            <div class="right-align">
                    <button type="submit" class="btn blue"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                    <a asp-action="Index" class="btn red"><i class="fa-solid fa-ban"></i> Cancelar</a>
                </div>
        </form>
    </div>
</div>


</div>

