@model AppPruebaMVC.Data.Models.Diagnostico

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Diagnostico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoDiagnostico" class="control-label"></label>
                <input asp-for="TipoDiagnostico" class="form-control" />
                <span asp-validation-for="TipoDiagnostico" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Codigo" />
            <div class="form-group">
                <label asp-for="CodResultado" class="control-label"></label>
                <select asp-for="CodResultado" class="form-control" asp-items="ViewBag.CodResultado"></select>
                <span asp-validation-for="CodResultado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodEnfermedad" class="control-label"></label>
                <select asp-for="CodEnfermedad" class="form-control" asp-items="ViewBag.CodEnfermedad"></select>
                <span asp-validation-for="CodEnfermedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

