@model IEnumerable<AppPruebaMVC.Data.Models.Diagnostico>

@{
    ViewData["Title"] = "Diagnostico";
}
<link rel="stylesheet" href="~/css/materialTable.css" asp-append-version="true" />

<div class="container">
    <p>
    <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-position="bottom" data-tooltip="Agregar Medicamento"><i class="fa-solid fa-plus fa-3x"></i></a>
</p>
<table class="responsive-table striped" id="myTable">
    <thead>
        <tr>
            <th>
                Tipo Diagnostico
            </th>
            <th>
                Enfermedad
            </th>
            <th>
                Resultado
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDiagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEnfermedadNavigation.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodResultadoNavigation.Codigo)
            </td>
            <td>
                <a id="edit_@item.Codigo" asp-action="Edit" asp-route-id="@item.Codigo" class="btn grey tooltipped" data-position="bottom" data-tooltip="Editar Medicamento"><i class="fa-solid fa-pen-to-square"></i></a>
                    
            </td>
        </tr>
}
    </tbody>
</table>

</div>

@section Scripts{
    <script>
            
        //});

         $(document).ready(function() {
            var myTable = $('#myTable').DataTable({
                language: { url: '/lib/es-ES.json' }
            })
        });
    </script>
}