@model AppPruebaMVC.Data.Models.Enfermedad

@{
    ViewData["Title"] = "Enfermedad";
}

<div class="container">
    <h4>Agregar</h4>
<hr />
<div class="row">
    <div class="col l8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-field">
                <label asp-for="Nombre" ></label>
                <input asp-for="Nombre" class="validate" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="input-field">
                <label asp-for="Descripcion" ></label>
                <input asp-for="Descripcion" class="validate" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="right-align col l12">
                <button type="submit" class="btn blue"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                <a asp-action="Index" class="btn red"><i class="fa-solid fa-ban"></i> Cancelar</a>
            </div>
        </form>
    </div>
</div>
</div>

